main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 800px;
    max-width: 80%;
    background-image: linear-gradient(#f12bd04d 10%, rgba(215, 19, 196, 0.6) 90%);;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.container h2 {
    color: white;
    text-decoration: none;
}

#answer-button {
display: grid;
grid-template-columns: repeat(2,auto);
gap: 10px;
margin: 20px 0;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover{
    border-color: rgb(248, 9, 240);
}

header{
text-align: center;
}

header button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.hide{
    display: none;
}

